
body {
    background-color:  #340707;
    background-image: url('улица.jpg');
    background-position: top;
    background-repeat:no-repeat;
    background-size: cover;
    height: 15vw;
}

.шапка {
    color:#a1d4db;
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ Demibold.ttf') format('truetype');
    text-align: center;
    font-size: 1.1vw;
    padding: 2vw;
}

span2:hover{
    color:rgb(47, 153, 153);
    transition: 0.5s;
}

span3:hover{
    color:rgb(47, 153, 153);
    transition: 0.5s;
}

span4:hover{
    color:rgb(47, 153, 153);
    transition: 0.5s;
}

span1 {
    padding-right: 1.5vw;
    color:#e1f3f8
}

span2 {
    padding-right: 1.5vw;
}

span3 {
    padding-right: 1.5vw;
}

h1 {
    color:#b0e0e6;
    font-family: 'PaluiSPDemo-Bold';
    src: url('fonth1/PaluiSPDemo-Bold.otf') format('opentype');
    margin-top: 1.5vw;
    font-size: 7vw;
    padding: 0px 0 0px;
    margin-bottom: 1.5vw;
    margin-left: 6vw;
    width: auto;
    
}

header {
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
    text-align:center;
    color: #c9e7f3;
    font-size: 1.5vw;
    max-width: 100%;
    max-height: 100%;
    width: 1350px;
}

.блоки {
    display: flex;
    text-align: center;
    margin-top: 3.6vw;
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
    color: #87CEEB;
    max-width: 100%;
}


.блоки ul{ 
    flex: 1; 
    padding: 0; 
    list-style-type: none; 
}

li{
    font-size: 2.2vw;
    transition: 0.15s;
}

li:hover{
    font-size: 2.3vw;
    transition: 0.15s;
}

a{
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
    color: #b0e0e6;
}

a:hover{
    color: rgb(40, 138, 168);
    transition: 0.15s;
}

p{
    text-align: center;
    margin-right: 8.7vw;
    margin-left: 8.7vw;
    margin-bottom: 3.6vw;
    font-size: 1.1vw;
    max-width: 100%;
    width: auto;
}

footer{
    color: #a1d4db;
    text-align: center;
    margin-top: 1.5 vw;
    padding-bottom: 1.7vw;
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
    font-size: 1vw;
}

@font-face {
    font-family: 'PaluiSPDemo-Bold';
    src: url('fonts/PaluiSPDemo-Bold.otf') format('opentype');
}

@font-face{
    font-family: 'TT Travels Trial Medium';
    src: url('fonts/TT\ Travels\ Next\ Trial\ Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
}

a{
    text-decoration: none;
}

