body{
    background: linear-gradient(to right, #340707, #690101);
}

.шапка{
    color:#a1d4db;
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ Demibold.ttf') format('truetype');
    text-align: center;
    font-size: 1.1vw;
    padding: 2vw
}

.текст{
    font-family: 'Lorenzo Sans Medium';
    src: url('fonts/Lorenzo\ Sans\ Medium.ttf') format('truetype');
    color: #c9e7f3;
    overflow: hidden;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.4vw;
    text-align: left;
    margin-top: 3vw;
    line-height: 1.6;
}

span1{
    padding-right: 1.5vw;
}

span2{
    padding-right: 1.5vw;
    
}
span3{
    padding-right: 1.5vw;
}

span4{
    color:#e1f3f8;   
}

h1{
    color:#b0e0e6;
    font-family: 'PaluiSPDemo-Bold';
    src: url('fonth1/PaluiSPDemo-Bold.otf') format('opentype');
    margin-top: 3vw;
    font-size: 5.5vw;
    margin-bottom: 1.5vw;
    margin-left: 4.5vw;
}

header{
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
    color: #c9e7f3;
    font-size: 21px;
    text-align: left;
    margin-left: 5vw;
    text-indent: 3vw;
    margin-right: 4.7vw
}

a{
    text-decoration: none;
    color:#a1d4db;
}

a:hover{
    color:rgb(47, 153, 153);
    transition: 0.5s;
}

footer{
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
    color: #c9e7f3;
    font-size: 1.6vw;
    text-align: center;
    margin-bottom: 3vw;
    margin-top: 4.5vw
}

.знаки ul{ 
    flex: 1; 
    padding: 0; 
    list-style-type: none;
}

.знаки{
    display: flex;
    text-align: center;
    margin-top: 3.6vw;
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
    color: #c9e7f3;
    font-size: 1vw;
}

img{
    width: 3vw;
    height: auto;
}

@font-face {
    font-family: 'PaluiSPDemo-Bold';
    src: url('fonts/PaluiSPDemo-Bold.otf') format('opentype');
}

@font-face{
    font-family: 'TT Travels Trial Demibold';
    src: url('fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lorenzo Sans Medium';
    src: url('fonts/Lorenzo\ Sans\ Medium.ttf') format('truetype');
}